{% extends 'IntexOrgBundle::layout.html.twig' %}

{% block body %}
    <h2>Users:</h2>
    <ul class="user">
        {% for user in users %}
            <li>
                <a href="{{ path('intex_org_user_show', { 'id': user.id }) }}">{{ user.lastname }}&nbsp;{{ user.firstname }} {{ user.middlename }} </a>
            </li>
        {% else %}
            <p>There are no company</p>
        {% endfor %}
    </ul>
{% endblock %}

