{% extends 'IntexOrgBundle:User:index.html.twig' %}
{% block namepage %}
    <h3>
        Пользователи организации: {{ company.name }}
    </h3>
{% endblock %}



{% block body %}
    {{ parent() }}

    {% for success_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success" role="alert">
            {{ success_message }}
        </div>
    {% endfor %}

{% endblock %}