{% extends 'IntexOrgBundle::layout.html.twig' %}

{% block body %}
    <ul class="navigation">
        <li><a href="{{ path('intex_org_users') }}">Show Users</a></li>
        <li><a href="{{ path('intex_org_companies') }}">Show Companies</a></li>
        <li><a href="{{ path('intex_org_user_upload')}}">Upload users</a></li>
    </ul>

    <pre>
    {{ dump(users) }}
    </pre>
{% endblock %}
{% block sidebar %}

{% endblock %}