{% extends 'IntexOrgBundle::layout.html.twig' %}
{% block namepage %}
    <h3>
        Загрузить пользователей из файла
    </h3>
{% endblock %}
{% block body %}
{{ form_start(form, { 'action': path('intex_org_user_load'), 'method': 'POST', 'attr': {'class': 'loadform'} }) }}
    {{ form_widget(form) }}
    <input type="submit" value="Upload Document"  class="btn btn-default" />
{% endblock %}