{% extends 'IntexOrgBundle::layout.html.twig' %}

{% block body %}
    <h3>Organizations:</h3>
    <ul class="companies">
        {% for company in companies %}
            <li>
                <a href="{{ path('intex_org_company_show', { 'company_id': company.id }) }}">{{ company.name }} </a>
            </li>
        {% else %}
            <p>There are no company</p>
        {% endfor %}
    </ul>

{% endblock %}