{% extends '::base.html.twig' %}

{% block sidebar %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('intex_org_users') }}">{% trans %}Show Users{% endtrans %}</a></li>
        <li><a href="{{ path('intex_org_companies') }}">{% trans %}Show Organizations{% endtrans %}</a></li>
        <li><a href="{{ path('intex_org_user_upload')}}">{% trans %}Upload users{% endtrans %}</a></li>
    </ul>
{% endblock %}
