{% extends '::base.html.twig' %}

{% block sidebar %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('intex_org_users') }}">Show Users</a></li>
        <li><a href="{{ path('intex_org_companies') }}">Show Organizations</a></li>
        <li><a href="{{ path('intex_org_user_upload')}}">Upload users</a></li>
    </ul>

{% endblock %}
